# Python (Backend)
backend/venv/
**/__pycache__/
*.py[cod]
.env
*.db

# IDEs e Editores
.vscode
.DS_Store

# Frontend (React)
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/.eslintcache

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Editor/OS
frontend/.vscode/
frontend/.idea/
frontend/.DS_Store
frontend/thumbs.db

# Testes
frontend/coverage/

# Docker (Caso crie arquivos locais de log do container)
frontend/.docker-compose.log

# Docker
.docker/
.env.docker
docker-compose.override.yml