# Python (Backend)
backend/venv/
**/__pycache__/
*.py[cod]
.env
*.db

# IDEs e Editores
.vscode
.DS_Store

# Frontend (React)
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/.eslintcache

# Docker
.docker/
.env.docker
docker-compose.override.yml